@use '../color';

.header {
  display: flex;
  position: sticky;
  top: 0;

  nav {
    display: flex;

    justify-content: space-between;
    gap: 1rem;

    width: 100%;
    margin: 0.5rem;
  }

  .circle, .long-circle {
    display: flex;

    padding: 0.5rem;

    background-color: color.$fg-primary;
    border: 2px solid color.$text-primary;
    border-radius: 1rem;
  }

  .circle {
    aspect-ratio: 1 / 1;
  }

  .long-circle {
    flex: 1;

    justify-content: space-around;
  }

  svg {
    min-width: 2rem;
    min-height: 2rem;

    fill: color.$text-secondary;

    transition: transform .3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  .svg-active svg {
    fill: color.$text-primary;
  }

  ul {
    padding: 0;

    list-style-type: none;

    li {
      display: flex;

      justify-content: center;
      align-items: center;
    }
  }

  a.active {
    background-color: color.$bg-primary;
  }
}
