@use '../colors';

.header {
  display: flex;
  position: sticky;
  top: 0;

  nav {
    display: flex;

    justify-content: space-between;
    gap: 1rem;

    width: 100%;
    margin: 0.5rem;
  }

  .circle, .long-circle {
    display: flex;

    padding: 0.5rem;

    background-color: colors.$surface-primary-dim;
    border: 2px solid colors.$on-surface-primary-bright;
    border-radius: 1rem;
  }

  .circle {
    aspect-ratio: 1 / 1;
  }

  .long-circle {
    flex: 1;

    justify-content: space-around;
  }

  svg {
    min-width: 2rem;
    min-height: 2rem;

    fill: colors.$on-surface-primary-dim;

    transition: transform .3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  .svg-active svg {
    fill: colors.$on-surface-primary-bright;
  }

  ul {
    padding: 0;

    list-style-type: none;

    li {
      display: flex;

      justify-content: center;
      align-items: center;

      a {
        padding: 0.1rem;
        border-radius: .5rem;

        color: colors.$on-surface-primary-bright;

        &:hover {
          color: colors.$on-surface-primary-dim;
        }
      }
    }
  }

  a.active {
    background-color: colors.$surface-primary;
  }
}
