/*
  This file sets color variables for the page.
  In the future I might use mixins to have some theme switching.
*/

$surface-primary: #20182d;
$surface-primary-dim: #151021;
$surface-primary-bright: #302640;
$on-surface-primary: #e7def4;
$on-surface-primary-dim: #bcb3cc;
$on-surface-primary-bright: #dfc5f9;

// $surface-secondary
// $surface-secondary-dim
// $surface-secondary-bright
// $on-surface-secondary
// $on-surface-secondary-dim
// $on-surface-secondary-bright

// $surface-tertiary
// $surface-tertiary-dim
// $surface-tertiary-bright
// $on-surface-tertiary
// $on-surface-tertiary-dim
// $on-surface-tertiary-bright
