$bg-primary: #302640;
$fg-primary: #20182d;
$text-primary: #e7def4;
$text-secondary: #dfc5f9;

#root {
  background-color: $bg-primary;
}

main {
  background-color: $fg-primary;
  color: $text-primary;
}

h5, hr {
  color: $text-secondary;
}

a {
  color: $text-secondary;
  &:hover {
    color: $text-primary;
  }
}
