@use './reset';
@use './color';

/*
  This file is used for site-wide defaults.
  Individual pages can have different setups.
*/

html, body, #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  width: calc(10vw + 30rem);
  padding: 1rem 2rem;
  margin: auto;
  flex: 1;

  h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    text-align: center;
  }

  h1 {
    font-size: calc(1.5rem + 1vw);
    margin-bottom: 0;
  }

  h2, h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  h4 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  h5 {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  hr {
    margin-bottom: 1rem;
  }

  ul, p {
    font-family: serif;
    margin-bottom: 1rem;
  }
}
