@use './reset';
@use './colors';

/*
  This file holds the site-wide defaults for stuff.
  It's applied to the whole page.
*/

html, body, #root {
  display: flex;

  flex-direction: column;
  min-height: 100vh;
  overscroll-behavior: none;

  background-color: colors.$surface-primary-bright;
}

main {
  flex: 1;

  width: calc(12vw + 35rem);
  max-width: 100%;

  padding: 1rem 2rem;
  margin: 0 auto 1rem auto;

  color: colors.$on-surface-primary;
  background-color: colors.$surface-primary;
  border: 2px solid colors.$on-surface-primary-bright;
  border-radius: 1rem;

  h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    text-align: center;
  }

  h1 {
    font-size: calc(1.5rem + 1vw);
    margin-bottom: 0;
  }

  h2, h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  h4 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  h5 {
    font-size: 1rem;
    margin-bottom: 2rem;

    color: colors.$on-surface-primary-bright;
  }

  hr {
    margin-bottom: 1rem;

    color: colors.$on-surface-primary-bright;
  }

  ul, p {
    font-family: serif;
    margin-bottom: 1rem;
  }

  a {
    color: colors.$on-surface-primary-bright;

    &:hover {
      color: colors.$on-surface-primary-dim;
    }
  }
}
